@charset "UTF-8";			// [中文 UTF-8]
@import "compass";
@import "pub_css/c-z-reset.scss";
@import "pub_css/mixin.scss";
@import "pub_css/c-z-new-public.scss";
@import "pub_css/ui-selectbox.scss";
body{background:#f8f8f8;}
input[type="password"]{border: 1px solid #ddd;background:#fff;padding-left:5px;font-family:'Microsoft YaHei',Arial;}   
input[type="password"]{
	&:hover{
	       box-shadow: 0 0 5px   rgba(15, 128, 227, 0.5);
	}
	&:focus{
	       box-shadow: 0 0 5px   rgba(15, 128, 227, 0.5);
    }
}
input[type="password"].error{
           border:#ff0000 solid 1px;
     &:hover{
	       box-shadow:none;
	 }
	  &:focus{
	       box-shadow:none;
	 }
}
.wrap{width:1000px;}
.reg_head{
	width:100%;padding:25px 0px 5px 0px ;float: left;background:#f2f2f2;
	.logo{
		float: left;
		.logo_img{
			background: url('../../images/ico_login.png') no-repeat;width:165px;height: 65px;float:left;
			display: block;
		}
		span{
			float: left;display:block;height:24px;color:#444;font-size: 22px;margin-top: 5px;
			&.line{
				width: 2px;border-right: #ccc solid 1px;margin: 11px 12px 0px 0px;
			}
		}
	}
	.tel{
		float: right;margin-top: 5px;
		span{
			font-size: 16px;color:#444;
		}
		em{
			font-size: 18px;color:#ff1e00;
			&.time{
				font-size: 12px;color:#444;margin-left: 3px;
			}
		}
	}
}
.reg_form{
	@include inline-block;width:100%;background:#fff;padding:70px 0px;
	.step{
		@include inline-block;width:100%;border-top: #ddd solid 1px;position: relative;
		ul{
			@include inline-block;margin-left: 150px;
			li{
				float: left;position: relative;width: 180px;
				i{
					display: block;
					&.line{
						width: 180px;height:1px;position: absolute;top: -2px;left: 0px;z-index: 9;
					}
					&.text{
						text-align: center;width:22px;height:22px;line-height: 22px;font-size: 16px;color:#fff;
						background:#ddd;@include border-radius(50px);position: absolute;left: 80px;top: -10px;z-index: 10;
					}
				}
				p{
					color: #888;text-align: center;padding:17px 0px;
				}
				&.cur{
					i{
						&.line{
							height:4px;@include border-radius(25px);background:#1080e4;
						}
						&.text{
							background:#1080e4;color:#fff;
						}
					}
					p{
						color: #000;
					}
				}
			}
		}
	}
	.form{
		width: 650px;margin:40px auto;
		ul{
			@include inline-block;width:100%;position: relative;z-index: 9;
			li{
				@include inline-block;width:100%;margin-bottom: 15px;
				label{
					display: inline-block;height:30px;line-height: 30px;font-size: 14px;width:90px;text-align: right;
					float: left;
					em{color:#ff3232;margin-right: 5px;}
				}
				span{
					&.error{width: auto;float: left;height: 32px;line-height: 32px;margin-left: 5px;padding:0 10px;}
				}
				input{
					height:30px;line-height: 30px;font-size: 14px;width:285px;float: left;padding-right: 30px;
					&.w110{
						width: 110px;
					}
					&.error{
						background: url('../../images/ico_login.png') -50px -386px no-repeat;
					}
					&.correct{
						background: url('../../images/ico_login.png') -50px -345px no-repeat;
					}
				}
				img{
					float: left;margin-left: 5px; height:34px;
				}
				.tip{
					color: #b4bbc2;@include inline-block;height:34px;line-height: 34px;margin-left: 15px;
				}
				.refesh{
					@include inline-block;height:34px;line-height: 34px;
				}
				.btn04{
					height: 42px;line-height:42px;font-size: 18px;color:#fff;text-align:center;border: 0;display:block;width:180px;
					margin-left: 90px;margin-top: 10px;
				}
			}
		}
	}
	.mode{
		width: 650px;margin:40px auto;
		ul{
			@include inline-block;width:100%;
			.getcode{
				display: inline-block;background:#f7f7f7;height:32px;line-height: 32px;border: #ddd solid 1px;color:#555;text-align: center;
				width: 120px;margin-left: 10px;float: left;
				&:hover{
					background:#e7e6e6;
				}
			}
			.gonext{
				height: 42px;line-height:42px;font-size: 18px;color:#fff;text-align:center;border: 0;display:block;width:180px;
				float:left;margin-left: 15px;
			}
			.goback{
				background:#fff;height:38px;line-height: 38px;border: #ddd solid 1px;text-align: center;display:block;
				width: 180px;padding:1px;font-size: 18px;color:#555;float:left;margin-left: 90px;
				&:hover{
					border: #999 solid 1px;
				}
			}
			span{
				&.error{width: auto;float: left;height: 32px;line-height: 32px;margin-left: 5px;padding:0 10px;}
			}
			&.select-mode{
				li{
					@include inline-block;width:100%;margin-bottom: 15px;
					label{
						display: inline-block;height:30px;line-height: 30px;font-size: 14px;width:90px;text-align: right;
						float: left;
						em{color:#ff3232;margin-right: 5px;}
						
					}
				}
			}
			&.test-mail{
				li{
					@include inline-block;width:100%;margin-bottom: 15px;
					label{
						display: inline-block;height:30px;line-height: 30px;font-size: 14px;width:90px;text-align: right;float: left;
					}
					span{
						&.text{
							display: inline-block;height:30px;line-height: 30px;font-size: 18px;float: left;color:#333;
						}
					}
				}
			}
			&.test-tel{
				display: none;
				li{
					@include inline-block;width:100%;margin-bottom: 15px;
					label{
						display: inline-block;height:30px;line-height: 30px;font-size: 14px;width:90px;text-align: right;float: left;
					}
					span{
						&.text{
							display: inline-block;height:30px;line-height: 30px;font-size: 18px;float: left;color:#333;
						}
					}
					input{
						height:30px;line-height: 30px;font-size: 14px;width:285px;float: left;padding-right: 30px;
						&.error{
							background: url('../../images/ico_login.png') -50px -386px no-repeat;
						}
						&.correct{
							background: url('../../images/ico_login.png') -50px -345px no-repeat;
						}
					}
				}
			}
		}
	}
	.reset{
		width: 650px;margin:40px auto;
		ul{
			@include inline-block;width:100%;
			li{
				@include inline-block;width:100%;margin-bottom: 15px;
				label{
					display: inline-block;height:30px;line-height: 30px;font-size: 14px;width:90px;text-align: right;
					float: left;
					em{color:#ff3232;margin-right: 5px;}
				}
				span{
					&.error{width: auto;float: left;height: 32px;line-height: 32px;margin-left: 5px;padding:0 10px;}
				}
				input{
					height:30px;line-height: 30px;font-size: 14px;width:285px;float: left;padding-right: 30px;
					&.w110{
						width: 110px;
					}
					&.error{
						background: url('../../images/ico_login.png') -50px -386px no-repeat;
					}
					&.correct{
						background: url('../../images/ico_login.png') -50px -345px no-repeat;
					}
				}
				.btn04{
					height: 42px;line-height:42px;font-size: 18px;color:#fff;text-align:center;border: 0;display:block;width:180px;
					margin-left: 90px;margin-top: 10px;
				}
			}
		}
	}
	.message{
		width: 350px;margin:130px auto;margin-bottom: 150px;
		i{
			width: 75px;height:68px;background: url('../../images/ico_login.png') 0px -258px no-repeat;
			display:block;margin-top: 2px;margin:0 auto;margin-bottom: 10px;
		}
		p{
			font-size: 14px;color:#888;text-align: center;
			&.tit{
				font-size: 24px;color:#555;margin-top: 20px;margin-bottom: 20px;
			}
		}
		.btn04{
			height:55px;line-height: 55px;color:#fff;text-align: center;display:block;
			width: 320px;font-size: 18px;margin:30px auto;
		}
	}
}
.reg_foot{
	background:#f8f8f8;width:100%;border-top: #ddd solid 1px;padding-bottom: 50px;
}