@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
  width: 0;
}

[hidden] {
  display: none;
}

mark {
  background: #ff0;
  color: #333333;
}

figure {
  margin: 1em 40px 1em 40px;
}

html {
  font-size: 13px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

html,
button,
input,
select,
textarea {
  font-family: tahoma, arial, \5b8b\4f53, sans-serif;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

body {
  margin: 0;
  color: #333;
  background-color: #fff;
  line-height: 1.5;
  _height: 100%;
}

a {
  color: #0f80e3;
  text-decoration: none;
}

a:hover {
  color: #FF6458;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

form {
  margin: 0;
}

fieldset {
  border: 2px groove #f0f0f0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  margin: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button {
  padding: 0px 6px;
  _padding: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li, dl, dd, th, td {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

hr {
  height: 1px;
  width: 100%;
  color: #D0D0D0;
  background-color: #D0D0D0;
  border: none;
}

input[type="text"]:-moz-placeholder,
input[type="search"]:-moz-placeholder {
  color: #a3a3a3;
}
input[type="text"]::-moz-placeholder,
input[type="search"]::-moz-placeholder {
  color: #a3a3a3;
}
input[type="text"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder {
  color: #a3a3a3;
}
input[type="text"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder {
  color: #a3a3a3;
}

.placeholder {
  color: #a3a3a3;
}

/* public.scss */
body {
  font-family: "Microsoft Yahei";
  background: #f7f7f7;
  color: #555;
}

body, button, input, select, textarea {
  font: 12px/1.5 "Microsoft Yahei", arial;
}

div, input, textarea {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

.fix-clear {
  *zoom: 1;
}

.fix-clear:before, .fix-clear:after {
  display: table;
  content: "";
}

.fix-clear:after {
  clear: both;
}

.clear {
  clear: both;
}

.g-hidden {
  display: none;
}

.g-invisible {
  visibility: hidden;
}

.g-visible {
  visibility: visible;
}

.g-inblock {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.btn-bg {
  background: #0f80e3;
}

.btn-bg:hover {
  background: #0068c4;
}

.btn0-bg {
  background: #ff6458;
}

.btn0-bg:hover {
  background: #ee4f43;
}

.btn1-bg {
  background: url('../img/h-btn-bg.png?1423708509') repeat-x;
}

.btn1-bg:hover {
  background: url('../img/h-btn-hover.png?1423708509') repeat-x;
}

.reset {
  background: #eeeeee;
}

.un-bg {
  background: #bbb;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.red {
  color: #ff0000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, em, i {
  font-style: normal;
}

/* ------------------------------------------------------------------------------------------- */
/*input status*/
input[type="text"] {
  border: 1px solid #ddd;
  background: #fff;
  padding-left: 5px;
}

textarea {
  border: 1px solid #ddd;
  background: #fff;
  padding: 5px 0px 0px 5px;
  resize: none;
}

select {
  border: 1px solid #ddd;
  background: #fff;
}

input[type="text"]:hover {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}

input[type="text"].error {
  border: #ff0000 solid 1px;
}
input[type="text"].error:hover {
  box-shadow: none;
}
input[type="text"].error:focus {
  box-shadow: none;
}

textarea.error {
  border: #ff0000 solid 1px;
}

span.error {
  border: #febcb7 solid 1px;
  background: #ffeceb;
  color: #ff1200;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  height: 30px;
  line-height: 27px;
  box-sizing: border-box;
  margin-left: 5px;
}

.w50 {
  width: 50px;
}

.w70 {
  width: 70px;
}

.w115 {
  width: 115px;
}

.w120 {
  width: 120px;
}

.w145 {
  width: 145px;
}

.w165 {
  width: 165px;
}

.w200 {
  width: 200px;
}

.w400 {
  width: 400px;
}

.w650 {
  width: 650px;
}

.w265 {
  width: 265px;
}

.w335 {
  width: 335px;
}

.w382 {
  width: 382px;
}

.h70 {
  height: 70px;
}

.h80 {
  height: 80px;
}

.h100 {
  height: 100px;
}

.h130 {
  height: 130px;
}

.h140 {
  height: 140px;
}

.h150 {
  height: 150px;
}

.h170 {
  height: 170px;
}

.t5 {
  margin-top: 5px;
  _margin-top: 6px;
}

.t10 {
  margin-top: 10px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.r5 {
  margin-right: 5px;
}

.r10 {
  margin-right: 10px;
}

.r15 {
  margin-right: 15px;
}

.r20 {
  margin-right: 20px;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.lh12 {
  line-height: 1.2em;
}

.lh15 {
  line-height: 1.5em;
}

.lh16 {
  line-height: 1.6em;
}

.lh18 {
  line-height: 1.8em;
}

.lh20 {
  line-height: 2em;
}

.c01 {
  color: #000;
}

.c01 a {
  color: #000;
}

.c01 a:hover {
  color: #0e75bc;
}

.c01-1 {
  color: #333;
}

.c01-1 a {
  color: #333;
}

.c01-1 a:hover {
  color: #0e75bc;
}

.c01-2 {
  color: #555;
}

.c01-2 a {
  color: #555;
}

.c01-2 a:hover {
  color: #0e75bc;
}

a.c01-2:hover {
  color: #0e75bc;
}

.c01-3 {
  color: #777;
}

.c01-3 a {
  color: #777;
}

.c01-3 a:hover {
  color: #777;
}

a.c01-3:hover {
  color: #0e75bc;
}

.c01-5 a:hover {
  color: #999;
}

a.c01-5:hover {
  color: #0e75bc;
}

.c03 {
  color: #ff6458;
}

.c03 a {
  color: #ff6458;
}

.txt-c {
  text-align: center;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.close {
  background: url('../img/close.png?1423708509') no-repeat;
  display: block;
  width: 15px;
  height: 15px;
}

.close:hover {
  background-position: 0 -16px;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.wrap-h {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.w990 .wrap {
  width: 990px;
  margin: 0 auto;
}

.w1200 .wrap {
  width: 1200px;
  margin: 0 auto;
}

.mt50 {
  margin-top: 50px;
}

.r5 {
  margin-right: 5px;
}

.h-ico {
  background: url('../img/h-ico.png?1423708509') no-repeat 0 0;
}

.header {
  position: relative;
  z-index: 1000;
  background: url('../img/h-bg.png?1423708508') repeat-x;
  width: 100%;
  height: 179px;
  display: inline-block;
}
.header .nav {
  height: 38px;
  line-height: 38px;
  position: relative;
  z-index: 99;
}
.header .nav ul {
  float: right;
}
.header .nav ul li {
  float: left;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.header .nav ul li span {
  float: left;
  display: inline-block;
}
.header .nav ul li i {
  border-right: #e1dde1 solid 1px;
  width: 2px;
  height: 12px;
  display: inline-block;
  margin-top: 13px;
  float: left;
  margin-left: 10px;
}
.header .nav ul li a {
  color: #555;
  display: inline-block;
  float: left;
}
.header .nav ul li a:hover {
  color: #ff6458;
}
.header .nav ul li a.status {
  background: #ff6458;
  color: #fff;
  height: 17px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-top: 10px;
  line-height: 15px;
  border-radius: 2px;
  font-size: 10px;
}
.header .nav ul li a.name {
  color: #333;
  padding-right: 5px;
}
.header .nav ul li a.name span {
  float: left;
  display: inline-block;
}
.header .nav ul li a.name i {
  float: left;
  display: inline-block;
  background-position: 0 -139px;
  width: 7px;
  height: 4px;
  border: 0;
  margin: 19px 5px 0px 5px;
}
.header .nav ul li dl {
  position: absolute;
  top: 38px;
  left: 0;
  background: #fff;
  border: #ddd solid 1px;
  border-top: 0;
  display: none;
  width: 50%;
  z-index: 9999;
}
.header .nav ul li dl dd {
  line-height: 30px;
}
.header .nav ul li dl dd a {
  float: none;
  width: 100%;
  text-align: center;
}
.header .nav ul li:hover dl {
  display: block;
}
.header .h-m {
  height: 101px;
  line-height: 101px;
  box-sizing: border-box;
  position: relative;
  z-index: 98;
}
.header .h-m .logo {
  float: left;
  width: 30%;
  height: 101px;
  overflow: hidden;
}
.header .h-m .logo a {
  line-height: 88px;
  display: inline-block;
  float: left;
}
.header .h-m .logo a img {
  padding-top: 17px;
}
.header .h-m .logo span {
  color: #666;
  font-size: 24px;
  display: inline-block;
  float: left;
}
.header .h-m .logo i {
  width: 1px;
  height: 22px;
  border-left: #b6b6b6 solid 1px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 41px;
  display: inline-block;
  float: left;
}
.header .h-m .so {
  float: left;
  width: 50%;
  margin-left: 3%;
}
.header .h-m .so input {
  vertical-align: middle;
  width: 75%;
  height: 35px;
  border: #cdcdcd solid 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0;
  padding-left: 5px;
  font-size: 16px;
  line-height: 35px;
}
.header .h-m .so button {
  width: 20%;
  height: 35px;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  margin-left: -3px;
  position: relative;
  padding-left: 18px;
  display: inline-block;
}
.header .h-m .so button i {
  display: inline-block;
  background-position: 0 -145px;
  width: 20px;
  height: 23px;
  float: left;
}
.header .h-m .so button em {
  display: inline-block;
  height: 23px;
  float: left;
  margin-top: -2px;
  margin-left: 3px;
}
.ie7 .header .h-m .so button {
  height: 37px;
}
.header .h-m .cart {
  float: right;
  width: 17%;
  position: relative;
  z-index: 1000;
}
.header .h-m .cart .tit {
  position: relative;
  cursor: pointer;
  display: block;
  width: 130px;
  height: 37px;
  line-height: 34px;
  background: #f5f5f5;
  border: #cdcdcd solid 1px;
  color: #333;
  font-size: 14px;
  float: right;
  margin-top: 33px;
}
.header .h-m .cart .tit i {
  display: inline-block;
  background-position: 0 0;
  width: 22px;
  height: 19px;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 8px;
  float: left;
}
.header .h-m .cart .tit i.num {
  display: inline-block;
  background-position: 0 -21px;
  width: 28px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: -25px;
  left: 18px;
}
.header .h-m .cart .cart-list {
  position: absolute;
  top: 69px;
  right: 0px;
  background: #fff;
  border: 1px solid #aaaaaa;
  display: none;
}
.header .h-m .cart .empty {
  width: 260px;
  height: 160px;
}
.header .h-m .cart .empty i {
  display: block;
  background-position: 0 -52px;
  width: 98px;
  height: 80px;
  margin: 15px auto;
}
.header .h-m .cart .empty p {
  text-align: center;
  display: block;
  height: 20px;
  line-height: 15px;
}
.header .h-m .cart .noempty {
  width: 350px;
  overflow: hidden;
}
.header .h-m .cart .noempty .list {
  height: 276px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header .h-m .cart .noempty .list dl {
  float: left;
  border-bottom: #cccccc 1px dashed;
  display: block;
  padding: 12px 8px 12px 8px;
  width: 100%;
}
.header .h-m .cart .noempty .list dl dt {
  float: left;
  width: 207px;
}
.header .h-m .cart .noempty .list dl dt .img-wrap {
  float: left;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border: #dddddd solid 1px;
  overflow: hidden;
  box-sizing: content-box;
}
.header .h-m .cart .noempty .list dl dt .img-wrap img {
  border: 0;
  max-width: 63px;
  max-height: 63px;
  vertical-align: middle;
}
.header .h-m .cart .noempty .list dl dt .title {
  float: left;
  width: 130px;
  margin-left: 10px;
}
.header .h-m .cart .noempty .list dl dt .title.p0 {
  color: #0f80e3;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 15px;
}
.header .h-m .cart .noempty .list dl dt .title.p1 {
  color: #555555;
  word-break: break-all;
  margin-top: 8px;
}
.header .h-m .cart .noempty .list dl dd {
  float: right;
  margin-right: 10px;
  width: 108px;
  overflow: hidden;
  text-align: center;
  padding-right: 10px;
  box-sizing: border-box;
}
.header .h-m .cart .noempty .list dl dd p {
  word-break: break-all;
}
.header .h-m .cart .noempty .list dl dd b {
  color: #ff6458;
}
.header .h-m .cart .noempty .list dl dd em {
  color: #999;
}
.header .h-m .cart .noempty .list-foot {
  background: #f5f5f5;
  height: 95px;
  overflow: hidden;
}
.header .h-m .cart .noempty .list-foot ul li {
  line-height: 20px;
  padding: 10px 10px 0px 10px;
  display: inline-block;
  width: 93%;
  float: left;
}
.header .h-m .cart .noempty .list-foot ul li span.spal {
  float: left;
}
.header .h-m .cart .noempty .list-foot ul li span.spar {
  float: right;
}
.header .h-m .cart .noempty .list-foot ul li span.spar b {
  font-size: 14px;
  color: #333;
}
.header .h-m .cart .noempty .list-foot ul li span.spar em {
  font-size: 20px;
  color: #ff6458;
}
.header .h-m .cart .noempty .list-foot ul li a {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 155px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: right;
  border-radius: 5px;
}
.header .h-m .cart .noempty p {
  display: block;
  line-height: 20px;
}
.header .menu {
  height: 40px;
  line-height: 38px;
  position: relative;
  z-index: 97;
}
.header .menu ul li {
  float: left;
  cursor: pointer;
  position: relative;
}
.header .menu ul li a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  width: 130px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.header .menu ul li a.all {
  width: 164px;
}
.header .menu ul li a.home {
  width: 110px;
}
.header .menu ul li a.cur {
  background: #0161b7;
}
.header .menu ul li a:hover {
  background: #0161b7;
}
.header .menu ul li a i {
  display: inline-block;
  width: 13px;
  height: 7px;
  background-position: 0px -170px;
  margin-left: 12px;
  float: left;
  margin-top: 17px;
}
.header .menu ul li a span {
  display: inline-block;
  float: left;
  margin-left: 22px;
}
.header .menu ul li img.new {
  position: absolute;
  top: -4px;
  right: -7px;
  z-index: 99;
}
.header .menu ul li ul {
  display: none;
  background: #fff;
  border: #0f80e3 solid 2px;
  border-top: 0;
  position: absolute;
  top: 40px;
  left: 0;
  width: 161px;
}
.header .menu ul li ul li {
  display: block;
  width: 100%;
}
.header .menu ul li ul li a {
  color: #222222;
  font-size: 16px;
  display: block;
  text-align: left;
  border-bottom: #cccccc 1px dotted;
  width: 100%;
  text-indent: 10px;
  height: 48px;
  line-height: 48px;
}
.header .menu ul li ul li a.b0 {
  border: 0;
}
.header .menu ul li ul li a:hover {
  background: #f1f9ff;
}

.f-ico {
  background: url('../img/f-ico.png?1423708510') no-repeat 0 0;
}

.footer {
  background: #e7e7e7;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer dl {
  float: left;
  display: block;
  width: 20%;
}
.footer dl i {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}
.footer dl span {
  float: left;
  color: #222222;
  font-size: 16px;
  margin-left: 8px;
}
.footer dl dt {
  display: block;
  height: 32px;
  line-height: 32px;
}
.footer dl dd {
  padding: 12px 10px 0px 40px;
}
.footer dl dd a {
  color: #777;
}
.footer dl dd a:hover {
  color: #ff6458;
}
.footer dl.d0 i {
  background-position: 0 0;
}
.footer dl.d1 i {
  background-position: 0 -34px;
}
.footer dl.d2 i {
  background-position: 0 -68px;
}
.footer dl.d3 i {
  background-position: 0 -102px;
}
.footer dl.d4 i {
  background-position: 0 -136px;
}
.footer .link {
  text-align: center;
  width: 100%;
  border-top: #bfbfbf solid 1px;
  margin-top: 40px;
  padding-top: 20px;
  display: inline-block;
}
.footer .link a {
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
  border-right: #9a9a9a solid 1px;
}
.footer .link a.a0 {
  border: 0;
}
.footer .link a:hover {
  color: #ff6458;
}
.footer .info {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  color: #777;
}

.location {
  margin-top: 15px;
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  display: inline-block;
}

.location a {
  font-size: 14px;
  color: #666;
  display: inline-block;
  float: left;
}

.location a em {
  margin-left: 5px;
}

.location a.back {
  color: #333;
  margin-right: 5px;
}

.location i {
  background: url('../img/gqico.png?1423708509') no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-right: 5px;
  margin-top: 2px;
  display: inline-block;
  float: left;
}

/*分页*/
.m-page {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.m-page a {
  color: #555;
  border: #dddddd solid 1px;
  padding: 5px 10px 6px 10px;
  margin-right: 5px;
  border-radius: 1px;
  display: inline-block;
  background: #fff;
}

.m-page a.cur, .m-page a:hover {
  background: #0f80e3;
  color: #fff;
  border: 0;
  padding: 6px 11px 7px 11px;
}

.m-page a.disable:hover {
  color: #555;
  background: #fff;
  border: #dddddd solid 1px;
  padding: 5px 10px 6px 10px;
}

.m-more {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 40px;
}
.m-more a {
  color: #555;
}
.m-more a:hover {
  color: #ff6458;
}

.top_banner {
  width: 100%;
}
.top_banner .con-img {
  width: 1200px;
  margin: 0 auto;
}
.top_banner .con-img img {
  border: 0;
  vertical-align: top;
}

.g-fl {
  float: left;
}

.g-c7 {
  color: #777;
}

.g-ca {
  color: #08c;
}

.g-zh {
  word-break: break-all;
  word-wrap: break-word;
}

.g-lhzh {
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
}

.g-mp0 {
  margin: 0;
  padding: 0;
}

input.placeholder_def {
  color: #a3a3a3;
}

input.placeholder_foc {
  color: #000;
}

.n-border {
  border: none;
}

.no-gap {
  border-collapse: collapse;
  border: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

input[type="text"] {
  border: 1px solid #dddddd;
  padding-left: 5px;
  color: #2f2f2f;
}

textarea {
  padding-top: 5px;
  padding-left: 5px;
  color: #2f2f2f;
  font-size: 14px;
}

.button, .option_but, .handle_box .box_footer .sub_buy, .handle_box .box_footer .ok {
  padding: 3px 10px;
  display: inline-block;
  margin-left: 5px;
  background-color: #0f80e3;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  border: none;
}
.button:hover, .option_but:hover, .handle_box .box_footer .sub_buy:hover, .handle_box .box_footer .ok:hover {
  background-color: #0068c4;
}

.module-header-1, .handle_box h1 {
  padding-left: 10px;
  color: #555555;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #0f80e3;
}

.module-herder-2, .module-herder-3 {
  padding-top: 6px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #dddddd;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 200;
  color: #1b1b1b;
}

.module-herder-3 {
  border-top: 2px solid #0f80e3;
}

.img_serch {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 3px;
  background: url('../img/zoom.png?1423708509') no-repeat 0 0;
}

.ser_but {
  text-align: left;
  font-size: 14px;
  padding: 5px 0px 0px 10px;
  display: inline-block;
  height: 27px;
  background: url('../img/small_zoom.png?1423708509') no-repeat #0f80e3 14px 7px;
  color: #FFF;
  width: 40px;
  position: relative;
  top: 11px;
  border: none;
}
.ser_but:hover {
  background-color: #0068c4;
}

.product_more {
  color: #555555;
  font-size: 13px;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.product_more:hover {
  color: #ff6458;
}

/**********************分页***************************/
.mall_page_form {
  margin-right: 15px;
  margin-top: 15px;
  text-align: center;
  height: 30px;
}

.mall_page {
  display: inline-block;
  +display: inline;
  +zoom: 1;
}
.mall_page li {
  float: left;
  margin-right: 5px;
}
.mall_page li a, .mall_page li span {
  color: #555555;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  display: block;
  padding: 3px 0px;
  width: 30px;
}
.mall_page li a.cur, .mall_page li span.cur {
  border: 1px solid #0f80e3;
  background-color: #0f80e3;
  color: #FFF;
}
.mall_page li a.middle, .mall_page li span.middle {
  width: 55px;
}
.mall_page li a.big, .mall_page li span.big {
  width: 75px;
}
.mall_page li a:hover {
  background-color: #0f80e3;
  color: #FFF;
}

.guide_but {
  margin-top: 5px;
  border: 1px solid #0d7ada;
  float: right;
  padding: 6px 0px 3px 28px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 80px;
  background: url('../img/guide.png?1423708509') no-repeat 5px 6px;
  background-color: #2a94f0;
  height: 23px;
  color: #FFFFFF;
  font-size: 14px;
}
.guide_but:hover {
  color: #FFFFFF;
}

.main_container {
  width: 1000px;
  margin: 0px auto;
}
.main_container .nav {
  margin-top: 10px;
  height: 35px;
  background: url('../img/nav_icon.png?1423708509') no-repeat 2px 0px;
}
.main_container .nav ul {
  padding-top: 2px;
  float: left;
  padding-left: 20px;
}
.main_container .nav ul li {
  margin-right: 5px;
  float: left;
}
.main_container .nav ul li a {
  color: #555555;
}
.main_container .nav ul li a:hover {
  color: #ff6458;
  cursor: default;
}
.main_container .nav ul li a.index_page {
  font-size: 13px !important;
  color: #555555 !important;
}
.main_container .nav ul li a.index_page:hover {
  font-size: 13px !important;
  color: #ff6458 !important;
  cursor: pointer !important;
}
.main_container .nav .notice_in {
  float: right;
}
.main_container .nav .notice_in .main_word {
  color: #ff6458;
}

/**********************购物页面***********************/
.product_price {
  color: #ff6458;
  font-size: 19px;
}

dl.item_buy_in {
  margin-top: 15px;
}
dl.item_buy_in dd {
  font-size: 13px;
  color: #555555;
  padding: 6px;
}
dl.item_buy_in dd.price_form {
  height: 25px;
  margin-top: -10px;
}
dl.item_buy_in dd label {
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #666666;
  font-size: 12px;
}
dl.item_buy_in dd label.small {
  width: 60px;
}
dl.item_buy_in dd label.left {
  float: left;
}
dl.item_buy_in dd.num_form {
  clear: both;
}
dl.item_buy_in dd .do_num, dl.item_buy_in dd .do_dialog_num {
  padding: inherit;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  text-align: center;
  color: #555555;
  display: inline-block;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  width: 29px;
  height: 29px;
}
dl.item_buy_in dd .buy_num {
  height: 31px;
  border: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  width: 42px;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: -2px;
  +position: relative;
  +top: -5px;
}
dl.item_buy_in dd p {
  display: block;
  padding-left: 98px;
  margin-top: 10px;
}

.purity_form {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.option_form {
  float: left;
  width: 255px;
}
.option_form a.option_sel {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  min-width: 45px;
  padding: 5px 5px 1px 5px;
  border: 1px solid #dddddd;
  text-align: center;
  color: #555555;
  height: 25px;
}
.option_form a.option_sel.big {
  width: 100px;
}
.option_form a.option_sel.middle {
  width: 100px;
}
.option_form a.option_sel.on {
  color: #ff6458;
  padding: 4px 4px 0px 4px;
  border: 2px solid #ff6458;
}

.standard_form {
  margin-top: -5px;
  display: block;
  padding: 15px 0px;
}
.standard_form.box {
  padding: 8px 0px;
}
.standard_form label {
  float: left;
}
.standard_form .standard {
  float: left;
  width: 255px;
  padding: 5px 8px;
  background-color: #f7f7f7;
  color: #555555;
  font-size: 13px;
}
.standard_form .standard b {
  font-weight: 200;
}
.standard_form .standard.middle {
  width: 240px;
}
.standard_form .standard li {
  cursor: pointer;
  padding-left: 5px;
  margin-top: 5px;
}
.standard_form .standard li.title {
  margin-top: 0px;
  border-bottom: 1px solid #dddddd;
}
.standard_form .standard li.on {
  background-color: #ff6458;
  color: #FFF;
}
.standard_form .standard li.not {
  cursor: default;
  background-color: #AAAAAA;
  color: #FFF;
}
.standard_form .standard span {
  display: inline-block;
  width: 46%;
}

/******************排序字段*********************/
.option_label {
  position: relative;
}

a.option_link {
  font-size: 13px;
  color: #555555;
  margin-left: 15px;
  line-height: 30px;
}

.option_but {
  height: 23px;
  line-height: 23px;
  font-size: 13px;
  min-width: 50px;
  margin-left: 15px;
}
.option_but .sort_icon {
  display: inline-block;
  width: 7px;
  height: 12px;
  margin-left: 4px;
}
.option_but .sort_icon.up {
  background: url('../img/sort_icon.png?1423708509') no-repeat 0px 0px;
}
.option_but .sort_icon.down {
  background: url('../img/sort_icon.png?1423708509') no-repeat -7px 0px;
}

a.option_but:hover {
  color: #FFF;
}

.black_btn {
  background-color: #555 !important;
}
.black_btn:hover {
  cursor: crosshair !important;
}

.black_overlay {
  display: none;
  position: fixed;
  +position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5001;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity=60);
}

.handle_box_form {
  display: none;
  position: fixed;
  +position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  z-index: 5002;
}

.close_box {
  display: block;
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 13px;
  margin-top: 10px;
  background: url('../img/close_but.png?1423708509') no-repeat 0px 0px;
}
.close_box:hover {
  background: url('../img/close_but.png?1423708509') no-repeat -15px 0px;
}
.close_box.no_title {
  position: relative;
  top: -8px;
}

.handle_box {
  display: none;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5003;
  border: 1px solid #ccc;
  width: 600px;
  margin: 50px auto;
  background-color: #FFF;
  /***************alert提示框*******************/
}
.handle_box.box_show {
  display: block;
}
.handle_box.box_hidden {
  display: hidden;
}
.handle_box.alert_box {
  display: none;
  width: 490px;
  position: relative;
}
.handle_box h1 {
  padding-top: 5px;
  height: 40px;
}
.handle_box h1 span {
  font-size: 16px;
  float: left;
}
.handle_box h1 .number {
  font-size: 14px;
  color: #ff6458;
}
.handle_box .box_content {
  padding-top: 10px;
}
.handle_box .box_content .cart_img_form {
  float: left;
  display: table;
  table-layout: fixed;
  border: 1px solid #dddddd;
  width: 180px;
  height: 180px;
  margin-left: 20px;
  position: relative;
}
.handle_box .box_content .cart_img_form .img_link {
  +position: absolute;
  +top: 50%;
  +width: 100%;
  +text-align: center;
  +height: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.handle_box .box_content .cart_img_form .img_link img {
  +position: relative;
  +top: -50%;
  vertical-align: middle;
  +zoom: 1;
  display: inline-block;
  max-height: 180px;
  max-width: 178px;
}
.handle_box .box_footer {
  border-top: 1px solid #dddddd;
  margin-top: 10px;
  height: 58px;
  padding-top: 9px;
  text-align: center;
  background-color: #f7f7f7;
}
.handle_box .box_footer .sub_buy {
  font-size: 16px;
  width: 140px;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.handle_box .box_footer .sub_buy.disable {
  background-color: #bbbaba;
}
.handle_box .box_footer .sub_buy.disable:hover {
  background-color: #bbbaba;
}
.handle_box .box_footer .ok {
  font-size: 16px;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.handle_box .product_main_in {
  padding: 6px 10px;
  background: #fdfbec;
  border: 1px #f6d257 solid;
}
.handle_box .product_main_in .product_name {
  display: block;
  font-size: 14px;
  color: #555555;
  word-break: break-all;
  word-wrap: break-word;
}
.handle_box .product_main_in label {
  margin-left: 10px;
}
.handle_box .product_main_in label.first {
  margin-left: 0px;
}
.handle_box .product_main_in span {
  color: #555555;
  font-size: 13px;
}
.handle_box .alert_content {
  height: 140px;
  padding-left: 60px;
}
.handle_box .alert_content .alert_icon {
  float: left;
  margin-top: 40px;
  width: 50px;
  height: 50px;
}
.handle_box .alert_content .alert_icon.notice {
  background: url('../img/dialog_icon.png?1423708510') no-repeat 0px 0px;
}
.handle_box .alert_content .alert_icon.error {
  background: url('../img/dialog_icon.png?1423708510') no-repeat -57px 0px;
}
.handle_box .alert_content .alert_icon.success {
  background: url('../img/dialog_icon.png?1423708510') no-repeat -108px 0px;
}
.handle_box .alert_content .alert_message {
  margin-left: 20px;
  float: left;
  width: 300px;
  font-size: 15px;
  margin-top: 45px;
  word-break: break-all;
  word-wrap: break-word;
}

.go_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  background: url('../img/go_top.png?1423708509') #65b2f4 no-repeat 12px 18px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.go_top:hover {
  background-color: #0f80e3;
}

/*************弹出框loading****************/
#dialog_load {
  height: 130px;
}
#dialog_load .load_notice {
  width: 130px;
  height: 40px;
  margin: 60px auto;
  padding-left: 40px;
  padding-top: 6px;
  font-size: 15px;
  background: url('../img/mall_loading.gif?1423708509') no-repeat 0px 0px;
}

.add_product_in {
  float: left;
  width: 360px;
  margin-left: 20px;
}
.add_product_in .box_buy {
  margin-top: 15px;
  font-size: 13px;
}
.add_product_in .box_buy dd {
  height: 30px;
  line-height: 30px;
}
.add_product_in .box_buy label {
  color: #555555;
  font-size: 12px;
  display: inline-block;
  width: 65px;
  text-align: right;
}
.add_product_in .box_buy .buy_text {
  width: 55px;
  border: 1px solid #dddddd;
  height: 23px;
  font-size: 16px;
  font-weight: bold;
}
.add_product_in .box_buy .product_price {
  font-size: 15px;
  font-weight: bold;
  color: #ff6458;
}

.buy_product_in {
  padding: 6px 10px;
  background: #fdfbec;
  border: 1px #f6d257 solid;
  margin: 10px 20px;
}
.buy_product_in ul li {
  color: #555555;
  height: 26px;
  line-height: 26px;
}
.buy_product_in ul li label {
  color: #000;
  text-align: right;
  display: inline-block;
  width: 80px;
}

.quote_desc {
  margin: 3px 20px;
}
.quote_desc h2 {
  font-size: 15px;
}
.quote_desc textarea {
  width: 100%;
  height: 130px;
  border: 1px solid #dddddd;
  resize: none;
  margin-top: 6px;
  font-size: 13px;
}

/*****************************Form表单提示**********************************/
.input_form {
  margin-bottom: 10px;
}
.input_form label {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-size: 13px;
  color: #555555;
}
.input_form .input {
  color: #555555;
  font-size: 14px;
  border: 1px solid #dddddd;
  height: 25px;
  width: 400px;
}
.input_form .input.select {
  min-width: 120px;
  margin-right: 5px;
  width: auto;
}
.input_form .input.error {
  border: 2px solid #ff6458;
}
.input_form .input.pay_mark {
  height: 65px;
  resize: vertical;
}
.input_form .error_mess {
  color: #F00000;
  font-size: 12x;
}
.input_form .must_write {
  font-size: 15px;
  font-weight: bold;
  color: #F00000;
}

.black_btn {
  background-color: #bbb !important;
}
.black_btn:hover {
  cursor: crosshair !important;
}

.ico-live-sprite, .ico-live0, .ico-live3, .ico-live6 {
  background-image: url('../img/ico-live-sed1fd00c58.png');
  background-repeat: no-repeat;
}

.ico-live0 {
  background-position: 0 0;
  width: 12px;
  height: 14px;
}

.ico-live3 {
  background-position: 0 -14px;
  width: 12px;
  height: 14px;
}

.ico-live6 {
  background-position: 0 -28px;
  width: 12px;
  height: 14px;
}

/*member*/
.mem-ico {
  background: url('../img/member.png?1423708509') no-repeat;
}

.member {
  margin: 20px auto;
  background: #fff;
  border: #e7ecee solid 1px;
  height: auto;
  display: inline-block;
  width: 100%;
}
.member .m-left {
  width: 18%;
  float: left;
  padding-top: 5px;
  padding-bottom: 20px;
}
.member .m-left dl {
  position: relative;
  border-bottom: #e7ecee solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.member .m-left dl dt {
  text-indent: 22px;
  font-size: 16px;
  color: #222;
  height: 27px;
  line-height: 27px;
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
}
.member .m-left dl dt span {
  float: left;
}
.member .m-left dl dt i {
  margin-right: 15px;
  margin-top: 12px;
  float: right;
  display: block;
  background: url('../img/member.png?1423708509') 0 -70px no-repeat;
  width: 9px;
  height: 5px;
}
.member .m-left dl dt i.down {
  background-position: 0 -77px;
}
.member .m-left dl dd {
  text-indent: 30px;
}
.member .m-left dl dd a {
  color: #555;
  position: relative;
  display: block;
  height: 27px;
  line-height: 27px;
}
.member .m-left dl dd a span {
  float: left;
}
.member .m-left dl dd a i {
  display: block;
  background-position: 0 -84px;
  width: 19px;
  height: 11px;
  float: left;
  margin-top: 9px;
  margin-left: 5px;
}
.member .m-left dl dd a:hover {
  background: #f1f9ff;
}
.member .m-left dl dd a.cur {
  background: #0f80e3;
  color: #fff;
}
.member .m-left dl.d0 {
  border: 0;
}
.member .m-right {
  width: 82%;
  float: left;
  padding-top: 10px;
  padding-bottom: 20px;
  border-left: #e7ecee solid 1px;
  height: auto;
  min-height: 690px;
  display: inline-block;
}
.member .m-right .con {
  width: 95%;
  margin: 0 auto;
}
.member .m-right .con .tit {
  height: 15px;
  border-bottom: #eee solid 1px;
  position: relative;
}
.member .m-right .con .tit span {
  display: block;
  color: #333333;
  font-size: 18px;
  padding-left: 1%;
  padding-right: 1%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 2%;
}
.member .m-right .con .so {
  border: #eeeeee solid 1px;
  margin-top: 25px;
  padding-bottom: 5px;
}
.member .m-right .con .so ul {
  width: 98%;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 5px;
}
.member .m-right .con .so ul li {
  margin-bottom: 5px;
  height: 35px;
  line-height: 30px;
  display: inline-block;
  width: 100%;
}
.member .m-right .con .so ul li span {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  float: left;
}
.member .m-right .con .so ul li input {
  width: 20%;
  background: #f5f5f5;
  border-radius: 5px;
  border: 0;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  float: left;
}
.member .m-right .con .so ul li input.w220 {
  width: 30%;
}
.member .m-right .con .so ul li input.w420 {
  width: 60%;
}
.member .m-right .con .so ul li input.w-s {
  width: 55%;
}
.member .m-right .con .so ul li input.upfile {
  background: #0f80e3;
  margin-right: 15px;
  border: 0px none;
  width: 16%;
  color: #FFF;
  font-size: 16px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
}
.member .m-right .con .so ul li select {
  width: 20%;
  background: #f5f5f5;
  border-radius: 5px;
  border: 0;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.member .m-right .con .so ul li label {
  margin-right: 10px;
  display: inline-block;
  width: 10%;
  text-align: right;
  float: left;
}
.member .m-right .con .so ul li button {
  margin-left: 10px;
  margin-right: 5px;
  border: 0;
  width: 16%;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
}
.member .m-right .con .so ul li button.reset {
  background: #cccccc;
}
.member .m-right .con .so ul li a {
  display: inline-block;
  margin-top: 4px;
}
.member .m-right .con .so ul li .select {
  position: relative;
  float: left;
  margin: 0 0px;
}
.member .m-right .con .so ul li .select dt {
  border-radius: 5px;
  border: 0;
  width: 142px;
  height: 30px;
  background: #F5F5F5 url('../img/s-down.png?1423708565') no-repeat 130px center;
  line-height: 30px;
  padding-left: 8px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
.member .m-right .con .so ul li .select dt:hover {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
.member .m-right .con .so ul li .select dt.cur {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
.ie7 .member .m-right .con .so ul li .select dt {
  height: 30px;
  line-height: 30px;
}
.member .m-right .con .so ul li .select dd {
  position: absolute;
  left: 0px;
  top: 30px;
  border: 1px solid #e6e6e6;
  background: #fff;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
.member .m-right .con .so ul li .select dd ul {
  width: 150px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.member .m-right .con .so ul li .select dd ul li {
  margin-bottom: 0px;
  height: 28px;
  line-height: 0;
  display: inline;
}
.member .m-right .con .so ul li .select dd ul li a {
  line-height: 28px;
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 14px;
  text-align: left;
  text-indent: 10px;
}
.member .m-right .con .so ul li .select dd ul li a:hover {
  background: #f1f1f1;
}
.member .m-right .con .so ul li .select dd.top34 {
  top: 34px;
}
.member .m-right .con .so ul li.pl10 {
  padding-left: 10%;
}
.member .m-right .con .list {
  margin-top: 30px;
}
.member .m-right .con .list h5 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}
.member .m-right .con .list .top {
  height: 30px;
  overflow: hidden;
  margin-bottom: 10px;
}
.member .m-right .con .list .top a {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #333;
  font-size: 14px;
  background: #f5f5f5;
  margin-right: 6px;
  padding: 0 5px;
}
.member .m-right .con .list .top a.cur {
  color: #fff;
  background: #0f80e3;
}
.member .m-right .con .main {
  display: inline-block;
  width: 100%;
}
.member .m-right .con .main dl dd {
  width: 55%;
  float: left;
  display: inline-block;
  border-bottom: 1px dotted #ddd;
  border-right: 1px dotted #ddd;
  box-sizing: border-box;
  padding: 15px 15px 10px 0px;
}
.member .m-right .con .main dl dd.dd3 p {
  color: #555;
  text-indent: 15px;
}
.member .m-right .con .main dl dd.dr0 {
  border-right: 0;
  width: 45%;
  padding: 15px 15px 10px 30px;
}
.member .m-right .con .main dl dd.dr0 a {
  color: #999;
  font-size: 12px;
}
.member .m-right .con .main dl dd.dr0 a:hover {
  color: #ff6458;
}
.member .m-right .con .main dl dd .wrap-img {
  width: 120px;
  height: 120px;
  display: table;
  border: #ddd solid 1px;
  overflow: hidden;
  float: left;
}
.member .m-right .con .main dl dd .wrap-img span {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.member .m-right .con .main dl dd .wrap-img span img {
  max-width: 118px;
  max-height: 118px;
  vertical-align: middle;
}
.member .m-right .con .main dl dd ul {
  float: left;
  margin-left: 15px;
}
.member .m-right .con .main dl dd ul li {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
.member .m-right .con .main dl dd ul li span {
  font-size: 12px;
  color: #777;
  float: left;
}
.member .m-right .con .main dl dd ul li span.pink {
  color: #ff6458;
  margin-right: 5px;
  margin-left: 5px;
}
.member .m-right .con .main dl dd ul li i {
  float: left;
  display: inline-block;
}
.member .m-right .con .main dl dd h2 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
}
.member .m-right .con .main dl dd p {
  margin-bottom: 5px;
  color: #777;
}
.member table {
  width: 100%;
  margin-top: 15px;
}
.member table th {
  background: #f0f3f4;
  color: #333;
  font-weight: bold;
  height: 45px;
  text-align: left;
}
.member table th.th0 {
  width: 13%;
  text-indent: 10px;
}
.member table th.th1 {
  width: 22%;
}
.member table th.th2 {
  width: 13%;
}
.member table th.th3 {
  width: 25%;
}
.member table th.th4 {
  width: 8%;
}
.member table th.th5 {
  width: 10%;
}
.member table th.th6 {
  width: 9%;
}
.member table th.th6 a {
  margin-right: 5px;
}
.member table th.th7 {
  width: 19%;
}
.member table th.th8 {
  width: 16%;
}
.member table th.th9 {
  width: 28%;
}
.member table th.th10 {
  width: 7%;
}
.member table th.th11 {
  width: 17%;
}
.member table td {
  border-bottom: #f0f3f4 solid 1px;
  height: 55px;
  color: #777;
  overflow: hidden;
  padding: 7px 10px 7px 0px;
}
.member table td.td0 {
  text-indent: 10px;
}
.member table td p.spec em {
  margin-right: 10px;
}
.member table td.time {
  color: #999;
}
.member table td.price {
  color: #ff6458;
}
.member table td.co-5 {
  color: #555;
}
.member table td.co-black {
  color: #000;
}
.member table.v-top th.center {
  text-align: center;
}
.member table.v-top td {
  vertical-align: top;
}

.ie7 .m-right {
  width: 81.5%;
}

.ie7 .member .m-right .con .main dl dd {
  width: 51%;
}
.ie7 .member .m-right .con .main dl dd.dr0 {
  width: 41%;
}

.ico-member-add-sprite, .ico-member-add-add, .ico-member-add-file-link, .ico-member-add-ps-gray, .ico-member-add-ps, .ico-member-add-radio-cur, .ico-member-add-radio {
  background-image: url('../img/ico-member-add-s801bc5c063.png');
  background-repeat: no-repeat;
}

.ico-member-add-add {
  background-position: 0 0;
}

.ico-member-add-file-link {
  background-position: 0 -12px;
}

.ico-member-add-ps-gray {
  background-position: 0 -29px;
}

.ico-member-add-ps {
  background-position: 0 -43px;
}

.ico-member-add-radio-cur {
  background-position: 0 -59px;
}

.ico-member-add-radio {
  background-position: 0 -74px;
}

.tab {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: #eee solid 1px;
  margin-bottom: 10px;
}
.tab ul li {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #333;
  font-size: 14px;
  background: #F5F5F5;
  margin-right: 6px;
  padding: 0px 5px;
  float: left;
}
.tab ul li.cur {
  color: #fff;
  background: #0f80e3;
}

.ps {
  background: #fff2f2;
  border: #ff0000 solid 1px;
  color: #ff6623;
  padding: 0px 10px;
  box-sizing: border-box;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  width: 100%;
}
.ps i {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}
.ps span {
  display: inline-block;
  height: 16px;
  float: left;
}

.add-form {
  margin-top: 15px;
  width: 100%;
}
.add-form li {
  margin-bottom: 10px;
  clear: both;
  display: inline-block;
  width: 100%;
}
.add-form li input {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  float: left;
}
.add-form li input[type="radio"] {
  display: none;
}
.add-form li input[type="text"] {
  width: 340px;
}
.add-form li textarea {
  display: inline-block;
  float: left;
  height: 500px;
  width: 670px;
  margin-top: 5px;
  margin-left: 60px;
}
.add-form li textarea.h100 {
  height: 100px;
  width: 340px;
  margin-top: 0;
  margin-left: 0;
}
.add-form li .btn {
  padding-left: 300px;
  display: inline;
}
.add-form li button {
  margin-right: 15px;
  border: 0px none;
  width: 16%;
  color: #FFF;
  font-size: 16px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
}
.add-form li button.reset {
  background: #ccc;
}
.add-form li span {
  color: #000;
  display: inline-block;
  float: left;
}
.add-form li span a {
  margin-left: 10px;
}
.add-form li span a.no-test {
  color: #ff6623;
}
.add-form li span em {
  color: #ff0000;
  margin-right: 3px;
}
.add-form li span.error {
  width: auto;
  margin-left: 60px;
  margin-top: 5px;
}
.add-form li label {
  color: #555;
  width: 150px;
  text-align: right;
  display: inline-block;
  float: left;
  margin-right: 10px;
  position: relative;
}
.add-form li label em {
  color: #ff0000;
  position: absolute;
  top: 15px;
  right: -7px;
}
.add-form li label.per {
  width: auto;
  margin-left: 5px;
}
.add-form li label.radio {
  width: auto;
  padding-left: 20px;
  height: 31px;
  cursor: pointer;
  background: url('../img/radio.png?1423708565') no-repeat 0 center;
  margin-left: 5px;
}
.add-form li label.checked {
  background: url('../img/radio-cur.png?1423708565') no-repeat 0 center;
}
.add-form li label.small {
  width: auto;
  line-height: 18px;
  height: 18px;
  color: #000;
}
.add-form li label.small input[type="checkbox"] {
  line-height: 18px;
  height: 18px;
  margin-right: 3px;
}
.add-form li .select {
  position: relative;
  float: left;
  margin: 0 0px;
}
.add-form li .select dt {
  border: 1px solid #e6e6e6;
  width: 210px;
  height: 28px;
  background: #fff url('../img/down.png?1423708509') no-repeat 195px center;
  line-height: 28px;
  padding-left: 8px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
.add-form li .select dt:hover {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
.add-form li .select dt.cur {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
.ie7 .add-form li .select dt {
  height: 30px;
  line-height: 30px;
}
.add-form li .select dd {
  position: absolute;
  left: 0px;
  top: 30px;
  border: 1px solid #e6e6e6;
  background: #fff;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
.add-form li .select dd ul {
  width: 218px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-form li .select dd ul li {
  margin-bottom: 0px;
}
.add-form li .select dd ul li a {
  line-height: 28px;
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 14px;
  text-align: left;
  text-indent: 10px;
}
.add-form li .select dd ul li a:hover {
  background: #f1f1f1;
}
.add-form li .wrap-img {
  width: 108px;
  height: 108px;
  line-height: 106px;
  border: #e6e6e6 solid 1px;
  overflow: hidden;
  text-align: left;
}
.add-form li .wrap-img span {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.ie7 .add-form li .wrap-img span {
  position: absolute;
  top: 50%;
}
.add-form li .wrap-img img {
  max-width: 99px;
  max-height: 99px;
  vertical-align: middle;
}
.ie7 .add-form li .wrap-img img {
  position: relative;
  top: -50%;
}
.ie7 .add-form li .wrap-img {
  position: relative;
}

.safe {
  border: #eee solid 1px;
  padding: 20px 10px 10px 40px;
}
.safe ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.safe ul li span {
  display: inline-block;
  width: 48%;
  float: left;
  font-size: 14px;
  color: #333;
}
.safe ul li span em {
  color: #ff6623;
}
.safe ul li p {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  font-size: 14px;
  color: #333;
}
.safe ul li a.btn {
  display: inline-block;
  margin-right: 15px;
  width: 120px;
  font-size: 16px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
}

.pic-manager h2 a {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  width: 120px;
  height: 36px;
  line-height: 31px;
  text-align: center;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 5px;
}
.pic-manager h2 a i {
  font-size: 30px;
  display: inline-block;
  float: left;
  margin-left: 15px;
}
.pic-manager h2 a em {
  display: inline-block;
  float: left;
  margin-top: 2px;
  margin-left: 2px;
}
.pic-manager ul {
  display: inline-block;
  width: 100%;
}
.pic-manager ul li {
  border: #e6e6e6 solid 1px;
  float: left;
  padding: 20px 20px 10px 20px;
  margin-top: 20px;
  margin-left: 30px;
}
.pic-manager ul li .wrap-img {
  width: 178px;
  height: 178px;
  line-height: 177px;
  overflow: hidden;
  text-align: left;
  position: relative;
  border: #f7f5f5 solid 1px;
  margin-bottom: 10px;
}
.pic-manager ul li .wrap-img span {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.ie7 .pic-manager ul li .wrap-img span {
  position: absolute;
  top: 50%;
}
.pic-manager ul li .wrap-img img {
  max-width: 176px;
  max-height: 176px;
  vertical-align: middle;
}
.ie7 .pic-manager ul li .wrap-img img {
  position: relative;
  top: -50%;
}
.pic-manager ul li .wrap-img .deal {
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 99;
  display: none;
  width: 100%;
}
.pic-manager ul li .wrap-img .deal a {
  display: block;
  width: 30px;
  height: 30px;
  float: right;
}
.pic-manager ul li .wrap-img .deal a.edit {
  background: #0f80e3 url('../img/pic-edit.png?1423708565') no-repeat center center;
}
.pic-manager ul li .wrap-img .deal a.del {
  background: #000 url('../img/pic-del.png?1423708565') no-repeat center center;
}
.pic-manager ul li .wrap-img .num {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #000;
  right: 0;
  bottom: 0px;
  z-index: 99;
  display: none;
}
.ie7 .pic-manager ul li .wrap-img {
  position: relative;
}
.pic-manager ul li p {
  color: #000;
  margin-bottom: 5px;
}
.pic-manager ul li:hover {
  box-shadow: 0 0 5px #ddd;
}
.pic-manager ul li:hover .deal {
  display: inline-block;
}
.pic-manager ul li:hover .num {
  display: inline-block;
}

.pic_form {
  width: 80%;
  margin: 10px auto;
  margin-bottom: 10px;
}
.pic_form ul li {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.pic_form ul li label {
  display: inline-block;
  width: 80px;
  text-align: right;
  color: #666;
}
.pic_form ul li input {
  display: inline-block;
  width: 60px;
  height: 25px;
}
.pic_form ul li textarea {
  display: inline-block;
  width: 380px;
  height: 70px;
}

.area {
  width: 95%;
  margin: 10px auto;
}
.area .a-l {
  width: 315px;
  float: left;
}
.area .a-m {
  width: 75px;
  float: left;
  margin: 285px 1%;
}
.area .a-m a {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  width: 75px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background: #eaeaea;
}
.area .a-r {
  width: 315px;
  float: left;
}
.area .select-box {
  height: 660px;
  overflow-y: scroll;
  border: #f0f0f0 solid 1px;
  padding: 10px;
  overflow-x: hidden;
}
.area .select-box ul li {
  margin-bottom: 8px;
}
.area .select-box ul li input[type="text"] {
  width: 280px;
  height: 30px;
  line-height: 30px;
}
.ie7 .area .select-box ul li input[type="text"] {
  width: 270px;
}
.area .select-box ul li label input {
  margin-top: -3px;
  margin-right: 5px;
}
.ie7 .area .select-box ul li label input {
  margin-top: -2px;
}
.area .select-box ul li a {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  color: #555;
}
.area .select-box ul li a span {
  float: left;
}
.area .select-box ul li a i {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../img/del.png?1423708565') no-repeat;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}
.area h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.limit {
  margin-top: 20px;
}
.limit h3 {
  font-size: 14px;
  border-bottom: #eee solid 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.limit ul {
  padding-left: 40px;
}
.limit ul li {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.limit ul li input {
  background: #F5F5F5;
  width: 220px;
  border-radius: 5px;
  border: 0px none;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}
.limit ul li label {
  float: left;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
}
.limit ul li .select {
  position: relative;
  float: left;
  margin: 0 0px;
}
.limit ul li .select dt {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height: 30px;
  background: #F5F5F5 url('../img/s-down.png?1423708565') no-repeat 68px center;
  line-height: 30px;
  padding-left: 8px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 99;
  font-size: 14px;
}
.limit ul li .select dt:hover {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
.limit ul li .select dt.cur {
  box-shadow: 0 0 5px rgba(15, 128, 227, 0.5);
}
.ie7 .limit ul li .select dt {
  height: 30px;
  line-height: 30px;
}
.limit ul li .select dd {
  position: absolute;
  left: 0px;
  top: 30px;
  border: 1px solid #e6e6e6;
  background: #fff;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
.limit ul li .select dd ul {
  width: 88px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.limit ul li .select dd ul li {
  margin-bottom: 0px;
  height: 28px;
  line-height: 0;
  display: inline;
}
.limit ul li .select dd ul li a {
  line-height: 28px;
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 14px;
  text-align: left;
  text-indent: 10px;
}
.limit ul li .select dd ul li a:hover {
  background: #f1f1f1;
}
.limit ul li .select dd.top34 {
  top: 34px;
}
.limit ul li button {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
  border: 0px none;
  width: 120px;
  color: #FFF;
  font-size: 16px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
}
.limit ul li button.reset {
  background: #CCC;
}
.limit ul li .m-c {
  width: 300px;
  margin: 0 auto;
}
