/* line 2, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
.supplier_apply_vip {
  margin: 0px 0 5px 0;
  padding: 0 0px;
  width: 500px; }
  /* line 4, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip h2 {
    color: #054d75;
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9; }
  /* line 5, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip p {
    margin: 0;
    padding: 0;
    margin-top: 20px; }
    /* line 6, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip p.ps {
      font-size: 14px;
      color: #333;
      width: 100%;
      text-align: center; }
  /* line 9, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip span.tips {
    width: 416px;
    position: absolute;
    left: 35px;
    top: 50px;
    z-index: 10;
    border: #fac291 solid 1px;
    background: #fff8ec url("../../images/tips.png") 8px center no-repeat;
    color: #ff1200;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    height: 26px;
    line-height: 23px;
    padding-left: 30px; }
  /* line 14, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip ul {
    display: inline-block;
    width: 100%;
    margin-top: 30px; }
    /* line 15, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip ul li {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px; }
      /* line 17, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .supplier_apply_vip ul li span {
        font-size: 14px;
        color: #333;
        float: left; }
        /* line 18, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
        .supplier_apply_vip ul li span.space {
          margin-top: 6px;
          margin-left: 10px;
          margin-right: 10px; }
        /* line 19, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
        .supplier_apply_vip ul li span.error {
          border: 1px solid #FEBCB7;
          background: #FFECEB;
          color: #FF1200;
          display: inline-block;
          padding: 0px 5px;
          height: 34px;
          line-height: 32px;
          margin-left: 95px;
          margin-top: 5px; }
  /* line 24, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip label {
    width: 90px;
    text-align: right;
    color: #555;
    font-size: 14px;
    float: left;
    margin-right: 5px;
    margin-top: 5px; }
    /* line 25, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip label em {
      color: #ff0000;
      margin-right: 5px; }
  /* line 27, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip div {
    float: left; }
    /* line 28, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip div.fl {
      width: 45%; }
      /* line 30, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .supplier_apply_vip div.fl span.error {
        width: 107px; }
    /* line 33, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip div.fl2 {
      width: 55%; }
      /* line 35, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .supplier_apply_vip div.fl2 span.error {
        width: 156px; }
  /* line 39, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip input {
    height: 30px;
    border: #ccc solid 1px;
    float: left;
    padding-left: 5px;
    line-height: 30px; }
    /* line 40, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip input.w110 {
      width: 110px; }
    /* line 41, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip input.w160 {
      width: 160px; }
    /* line 42, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip input.w380 {
      width: 386px; }
  /* line 44, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip textarea {
    width: 530px;
    height: 150px;
    border: #ccc solid 1px;
    padding-left: 5px;
    padding-top: 5px;
    resize: none; }
  /* line 45, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .supplier_apply_vip .btn {
    width: 100%;
    text-align: center; }
    /* line 47, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip .btn button {
      background: #70be2d;
      font-size: 20px;
      width: 320px;
      height: 45px;
      border-radius: 25px;
      color: #fff;
      border: 0px;
      line-height: 45px; }
      /* line 49, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .supplier_apply_vip .btn button:hover {
        background: #5da91c; }
    /* line 51, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .supplier_apply_vip .btn p {
      color: #777;
      text-align: center;
      font-size: 12px;
      margin-top: 20px; }

/* line 57, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
.message_supplier_apply_vip {
  margin: 0px 0 5px 0;
  padding: 0 0px;
  width: 500px; }
  /* line 59, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_supplier_apply_vip i {
    display: block;
    width: 57px;
    height: 57px;
    background: url("../../images/jr-tips-ico.png") center top no-repeat;
    margin: 0 auto;
    position: relative;
    z-index: 9999; }
    /* line 61, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip i.sucess {
      background-position: 0 0; }
    /* line 62, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip i.fail {
      background-position: 0 -57px; }
  /* line 64, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_supplier_apply_vip h2 {
    color: #111;
    font-size: 26px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
    padding-top: 20px; }
  /* line 66, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_supplier_apply_vip h3 {
    color: #777;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
    padding-top: 20px; }
    /* line 68, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip h3 em {
      color: #ff6458;
      font-style: normal;
      font-size: 20px; }
  /* line 70, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_supplier_apply_vip p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    width: 100%;
    text-align: center; }
    /* line 71, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip p em {
      font-size: 20px;
      color: #ff6458;
      font-style: normal; }
  /* line 73, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_supplier_apply_vip span {
    position: relative;
    z-index: 8; }
    /* line 75, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip span.mask {
      font-size: 0;
      background: #f5f5f5;
      width: 300px;
      height: 30px;
      display: block;
      position: absolute;
      top: -59px;
      left: -18px; }
    /* line 76, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip span.mask0 {
      font-size: 0px;
      background: none repeat scroll 0% 0% #f5f5f5;
      width: 542px;
      height: 22px;
      display: block;
      position: absolute;
      top: -35px;
      left: -20px; }
  /* line 78, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_supplier_apply_vip .btn {
    width: 100%;
    text-align: center;
    margin-top: 30px; }
    /* line 80, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip .btn button {
      background: #70be2d;
      font-size: 20px;
      width: 320px;
      height: 45px;
      border-radius: 25px;
      color: #fff;
      border: 0px;
      line-height: 45px; }
      /* line 82, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .message_supplier_apply_vip .btn button:hover {
        background: #5da91c; }
    /* line 84, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_supplier_apply_vip .btn p {
      color: #777;
      text-align: center;
      font-size: 12px;
      margin-top: 20px; }

/* line 90, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
.loan_apply_vip_win {
  width: 100%; }
  /* line 92, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .loan_apply_vip_win .tb {
    width: 100%; }

/* line 96, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
.message_loan_apply_vip_win {
  margin: 30px 0 0px 0;
  padding: 0 0px;
  width: 100%; }
  /* line 98, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_loan_apply_vip_win i {
    display: block;
    width: 70px;
    height: 90px;
    background: url("../../images/dai_messge.png") center top no-repeat;
    margin: 0 auto;
    margin-top: 50px; }
    /* line 101, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_loan_apply_vip_win i.sucess {
      background-position: 0 0; }
    /* line 102, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_loan_apply_vip_win i.fail {
      background-position: 0 -57px; }
  /* line 104, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_loan_apply_vip_win h2 {
    color: #333;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0; }
  /* line 105, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .message_loan_apply_vip_win .btn {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    background: #f5f5f5;
    border-top: #ddd solid 1px;
    padding: 8px 0px; }
    /* line 107, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .message_loan_apply_vip_win .btn a {
      margin: 0 auto;
      display: block;
      background: #ff6256;
      font-size: 16px;
      width: 170px;
      height: 40px;
      border-radius: 10px;
      color: #fff;
      border: 0px;
      line-height: 40px; }
      /* line 110, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .message_loan_apply_vip_win .btn a:hover {
        background: #e6564b; }

/* line 115, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
.moldata_detail_supply_win {
  margin: 30px 0 0px 0;
  padding: 0 0px;
  width: 100%; }
  /* line 117, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .moldata_detail_supply_win i {
    display: block;
    width: 70px;
    height: 75px;
    background: url("../../images/detail_ico_2015.png") no-repeat;
    margin: 0 auto;
    margin-bottom: 10px; }
    /* line 119, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .moldata_detail_supply_win i.sucess {
      background-position: -118px -76px; }
    /* line 120, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .moldata_detail_supply_win i.tips0 {
      background-position: -118px -157px; }
    /* line 121, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .moldata_detail_supply_win i.tips1 {
      background-position: -118px -228px; }
  /* line 123, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .moldata_detail_supply_win p {
    color: #333;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 24px; }
  /* line 124, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .moldata_detail_supply_win .btn {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    background: #f5f5f5;
    border-top: #ddd solid 1px;
    padding: 8px 0px; }
    /* line 126, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .moldata_detail_supply_win .btn .btn04 {
      margin: 0 auto;
      display: block;
      font-size: 16px;
      width: 170px;
      height: 40px;
      color: #fff;
      border: 0px;
      line-height: 40px; }

/* line 132, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
.error_correction_win {
  margin: 30px 0 0px 0;
  padding: 0 0px;
  width: 100%; }
  /* line 134, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .error_correction_win ul {
    display: inline-block;
    width: 100%; }
    /* line 135, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .error_correction_win ul li {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px; }
  /* line 139, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .error_correction_win label {
    width: 120px;
    text-align: right;
    color: #555;
    font-size: 14px;
    float: left;
    margin-right: 5px;
    margin-top: 5px; }
  /* line 140, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .error_correction_win input {
    height: 30px;
    border: #ccc solid 1px;
    float: left;
    padding-left: 5px;
    line-height: 30px;
    width: 400px; }
  /* line 141, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .error_correction_win textarea {
    width: 500px;
    height: 150px;
    border: #ccc solid 1px;
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    margin-left: 100px; }
  /* line 142, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .error_correction_win p {
    color: #333;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 24px; }
  /* line 143, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
  .error_correction_win .btn {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background: #f5f5f5;
    border-top: #ddd solid 1px;
    padding: 8px 0px; }
    /* line 145, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .error_correction_win .btn .btn04 {
      margin: 0 auto;
      display: inline-block;
      font-size: 16px;
      width: 170px;
      height: 40px;
      color: #fff;
      border: 0px;
      line-height: 40px;
      margin-right: 20px; }
    /* line 148, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
    .error_correction_win .btn .cancel {
      margin: 0 auto;
      display: inline-block;
      font-size: 16px;
      width: 170px;
      height: 40px;
      color: #fff;
      border: 0px;
      line-height: 40px;
      background: #bbb; }
      /* line 151, D:/pic/app-img/resource/www_v1/css_source/pub_css/wintpl.scss */
      .error_correction_win .btn .cancel:hover {
        background: #aaa; }

/*# sourceMappingURL=wintpl.css.map */
